.container{
    height: 100%;
    padding: 90px 70px;
    background-color: #efefef;
}

h2{
    font-size: 28px;
}

img{
    width: 100%;
    object-fit: contain;
}

.btnDivHome{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
    margin-top: 40px;
    height: 500px;
}

.btnHome{
    background-color: #252525;
    border: none;
    border-radius: 10px;
    color: #efefef;
    padding: 15px 52px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
input{
    margin-top: 10px;
    border: none;
    text-decoration: none;
    padding-left: 10px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}